*
!*/
!.gitignore
!.zshrc
!MangoHud/**
!apply.sh
!btop/**
!cava/**
!fastfetch/**
!fish/**
!hypr/**
!kitty/**
!modprobed-db.conf
!modprobed.db
!nano/**
!nvim/**
!nvtop/**
!obsidian/**
!qt5ct/**
!qt6ct/**
!rofi/**
!sway/**
!wallust/**
!waybar/**
!zshfuncs.zshrc

