*
!*/
!.gitignore
!sway/*
!rofi/*
!qt5ct/*
!qt6ct/*
!nvim/*
!nvtop/*
!obsidian/*
!hypr/*
!waybar/*
!kitty/*
!MangoHud/*
!fish/*
!fastfetch/*
!wallust/*
!btop/*
!cava/*
!nano/*
!modprobed.db
!modprobed-db.conf
!zshfuncs.zshrc
!.zshrc
!apply.sh
