 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #1C51A7;
active-foreground: #C0D6ED;
normal-background: #101215;
normal-foreground: #C0D6ED;
urgent-background: #4C8BCC;
urgent-foreground: #C0D6ED;

alternate-active-background: #2D5681;
alternate-active-foreground: #C0D6ED;
alternate-normal-background: #101215;
alternate-normal-foreground: #C0D6ED;
alternate-urgent-background: #101215;
alternate-urgent-foreground: #C0D6ED;

selected-active-background: #4C8BCC;
selected-active-foreground: #C0D6ED;
selected-normal-background: #4C8BCC;
selected-normal-foreground: #C0D6ED;
selected-urgent-background: #1C51A7;
background: rgba(0,0,0,0.7);

background-color: #101215;
background: rgba(0,0,0,0.7);
foreground: #C0D6ED;
border-color: #1C51A7;

color0: #383A3D;
color1: #030E19;
color2: #061421;
color3: #214161;
color4: #153D7D;
color5: #396899;
color6: #396899;
color7: #9DBDDD;
color8: #6E849B;
color9: #041321;
color10: #081B2C;
color11: #2D5681;
color12: #1C51A7;
color13: #4C8BCC;
color14: #4C8BCC;
color15: #9DBDDD;


}

